.product-info .product-description{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #ffff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.product-info .product-description h1{
    font-size:32px
}

.product-info .product-description p{
    color:#666;
    line-height:24px;
    margin-top: 5px
}

.product-info .product-description p a {
    color: #069;
    text-decoration: none;
}

.prevPage{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
}

.prevPage a{
    text-decoration: none;
    color: #da552f;
    font-weight: bold;
}

